<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Mt5:Server" value="85.195.95.30" />
    <add key="Mt5:Login" value="49617" />
    <!-- Leave blank. Set via MT5_PASSWORD environment variable. -->
    <add key="Mt5:Password" value="" />
    <add key="Mt5:ListenUrl" value="http://127.0.0.1:5099" />
  </appSettings>
</configuration>
